{% extends 'gorl/layout.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% crispy form %}




{% block content %}

<div class="my-5 container">
  <div class="card shadow mb-3 p-3">
    <h3 class="card-header text-pink">Are you sure you want to delete this post?</h3>
    <div class="card-body">
      <div class="row">
        <div class="col-md-4 text-center">
          <a href="{% url 'user-posts' post.author.username %}" class="link-hover">{% if post.author.profile.image %}
                <img src="{{ post.author.profile.image.url }}" alt="Profile image" width="80" height="80" class="circle-profile-picture">
              {% endif %}
          <h4 class="card-text"><a href="{% url 'user-posts' post.author.username %}" class="link-hover">{{ post.author.username }}</a></h4>
          <p class="text-muted">{{ post.date_posted|date:"F d, Y H:i" }}</p>
        </div>
        <div class="col-md-8">
          <div class="card shadow mb-3 p-3">
            <h3 class="card-header"><a href="{% url 'post-detail' pk=post.pk %}" class="link-hover">{{ post.title }}</a></h3>
            <p class="card-text my-3">{{ post.body|linebreaks }}</p>
            <p class="card-text"><small class="text-muted">(<span id="votes-count-{{post.id}}" {% if post.score < 0 %} class="negative-score" {% endif %}>{{ post.score }}</span>)</small></p>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer text-center">
      <form action="{% url 'post-delete' post.id %}" method="post">
        {% csrf_token %}
          <a href="{% url 'post-detail' post.id %}" class="btn btn-outline-info hot-pink-button">Cancel</a>
          <input type="submit" class="btn btn-outline-info hot-pink-button my-2" value="Delete">
        </form>
      </div>
    </div>
  </div>


{% endblock %}
